<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
  <title>A-la-francaise</title>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <%- include('../components/header/header.html', {
    "back" : true
  }); %>
  <img src="francaise.jpg" alt="A la française">
  <main class="menu">
    <section class="entête">
      <h1 class="nom">A la française</h1>
      <i class="far fa-heart"></i>
    </section>
    <section>
      <h2 class="menu">ENTRÉES</h2>

      <%- include('../components/plat/plat.html', {
            "nom" : "Tartare de poulpe acidulé",
            "ingredients" : "Aux zestes d'orange",
            "prix": "25€",
        }); %>

      <%- include('../components/plat/plat.html', {
          "nom" : "Velouté de légumes d'antan",
          "ingredients" : "Carotte, panais, topinambour",
          "prix": "35€",
      }); %>

      <%- include('../components/plat/plat.html', {
        "nom" : "Soupe à l'oignon",
        "ingredients" : "Revisitée",
        "prix": "20€",
    }); %>
    </section>
    <section>
      <h2 class="menu">PLATS</h2>

      <%- include('../components/plat/plat.html', {
        "nom" : "Coquilles Saint-Jacques",
        "ingredients" : "Accompagnées d'une purée de panais",
        "prix": "40€",
    }); %>

      <%- include('../components/plat/plat.html', {
        "nom" : "Magret de canard",
        "ingredients" : "Et parmentier de pommes de terre",
        "prix": "35€",
    }); %>

      <%- include('../components/plat/plat.html', {
      "nom" : "Pigeonneau d’Ille-et-Vilaine",
      "ingredients" : "Sur son lit de gnocchis aux légumes",
      "prix": "44€",
  }); %>

    </section>
    <section>
      <h2 class="menu">DESSERTS</h2>

      <%- include('../components/plat/plat.html', {
        "nom" : "Pétales de violettes glacés",
        "ingredients" : "Et purée de noisettes",
        "prix": "18€",
    }); %>

      <%- include('../components/plat/plat.html', {
      "nom" : "Fondant au chocolat",
      "ingredients" : "Revisité",
      "prix": "22€",
  }); %>

      <%- include('../components/plat/plat.html', {
    "nom" : "Millefeuille croustillant",
    "ingredients" : "Myrtilles et pâte d’amande",
    "prix": "23€",
}); %>

      <button type="button" class="explo_btn"> Commander </button>
    </section>

  </main>

  <%- include('../components/footer/footer.html'); %>
</body>

</html>