section.search {
    display: flex;
    padding: 0.5em;
    justify-content: center;
    background: linear-gradient(#8080803d, 10%, #ecf0f1);
}

.map {
    width: 40px;
    height: 36px;
    border: none;
    text-align: center;
    color: black;
    cursor: pointer;
    font-size: 15px;
    background: none;
}

.searchTerm {
    width: 110%;
    padding: 7px;
    height: 20px;
    outline: none;
    font-weight: bolder;
    background: none;
    border: none;
}

section.explo {
    text-align: center;
    padding: 2rem;
    background: #f3f3f369;
}

button.explo_btn {
    border-radius: 50px;
    align-items: center;
    height: 55px;
    border: none;
    font-weight: bold;
    outline: none;
    width: 200px;
    cursor: pointer;
    color: white;
    box-shadow: 0px 1px 6px 3px #c4c2c2;
    background: linear-gradient(182deg, $primaire, 50%, $secondaire);

    &:hover {
        background: linear-gradient(182deg, lighten($secondaire, 10%), 50%, darken($primaire, 5%));
        transform: perspective(1300px) scale(1.03);
        transform-origin: 50% center;
        transition: 1s ease-in-out;
        box-shadow: 0px 1px 6px 3px #919191;
    }
}

section.fonction {
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    flex-direction: column;
    justify-content: space-around;
    align-content: flex-start;
    align-items: flex-start;

    @media screen AND (min-width:1024px) {
        padding: 1em;
        flex-direction: row;
        align-items: baseline;
        justify-content: center;
    }

    i {
        color: #727171;
    }

}

ol.number {
    padding: 0 16px 0 16px;

    @media screen AND (min-width:1024px) {
        display: flex;
    }

    li {
        counter-increment: li;
        display: grid;
        grid-template-columns: 2rem 2rem auto;
        border-radius: 20px;
        align-items: center;
        height: 70px;
        box-shadow: 0px 1px 6px 3px #f2f2f2;
        font-weight: bolder;
        width: 325px;
        margin-bottom: 1em;
        cursor: pointer;

        @media screen AND (min-width:768px) {
            margin-right: 10rem;
        }

        @media screen AND (min-width:1024px) {
            margin-right: 0.5rem;
            margin-left: 1rem;
            width: 280px;
        }

        &::before {
            content: counter(li);
            display: flex;
            width: 2rem;
            height: 2rem;
            color: white;
            background-color: $secondaire;
            border-radius: 50%;
            justify-content: center;
            align-items: center;
            margin-left: -1rem;
        }
    }



    li:hover {
        background: #efe4fd;

        i {
            color: $secondaire;
        }
    }
}

section.restaurant {
    padding: 1em 1.5em;
    background: #f3f3f3;

    @media screen AND (min-width:768px) {
        display: grid;
        grid-template-areas:
            "titre titre"
            "resto1 resto2"
            "resto3 resto4";
        grid-gap: 1rem;

    }

    h2 {
        grid-area: titre;
    }

}



h2 {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: black;
}