<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css' integrity='sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==' crossorigin='anonymous' />
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&family=Shrikhand&display=swap" rel="stylesheet">
  <title>la note enchantee</title>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <%- include('../components/header/header.html', {
    "back" : true
  }); %>
  <img src="note.jpg" alt="la note echantée">
  <main class="menu">
    <section class="entete">
      <h1 class="nom">La note enchantée</h1>
      <i class="far fa-heart"></i>
    </section>
    <div class="carte">
      <section>
        <h2 class="menu">ENTRÉES</h2>

        <%- include('../components/plat/plat.html', {
            "nom" : "Ravioles de foie gras",
            "ingredients" : "Accompagnés de leur crème à la truffe",
            "prix": "25€",
        }); %>

        <%- include('../components/plat/plat.html', {
          "nom" : "Caviar osciètre",
          "ingredients" : "Sur blini à la farine de blé noir",
          "prix": "35€",
      }); %>

        <%- include('../components/plat/plat.html', {
        "nom" : "Homard et espuma de potiron",
        "ingredients" : "Mariné aux zestes d'orange",
        "prix": "20€",
    }); %>
      </section>
      <section>
        <h2 class="menu">PLATS</h2>

        <%- include('../components/plat/plat.html', {
        "nom" : "Noix de coquilles Saint-Jacques",
        "ingredients" : "Sur lit de purée de céleri-rave",
        "prix": "40€",
    }); %>

        <%- include('../components/plat/plat.html', {
        "nom" : "Langoustine poêlée",
        "ingredients" : "Purée de patate douce",
        "prix": "35€",
    }); %>

        <%- include('../components/plat/plat.html', {
      "nom" : "Mijoté de queue de boeuf",
      "ingredients" : "Et riz sauvage aux zestes de citron",
      "prix": "44€",
  }); %>

      </section>
      <section>
        <h2 class="menu">DESSERTS</h2>

        <%- include('../components/plat/plat.html', {
        "nom" : "Macaron noisette et chocolat",
        "ingredients" : "Glace au caramel brun et sel de Guérande",
        "prix": "18€",
    }); %>

        <%- include('../components/plat/plat.html', {
      "nom" : "Baba au rhum revisité",
      "ingredients" : "Avec son coulis de citron",
      "prix": "22€",
  }); %>

        <%- include('../components/plat/plat.html', {
    "nom" : "Tarte au citron meringuée",
    "ingredients" : "Déstructurée",
    "prix": "23€",
}); %>
      </section>
      <div class="cmd">
        <button type="button" class="explo_btn"> Commander </button>
      </div>
    </div>
  </main>

  <%- include('../components/footer/footer.html'); %>
</body>

</html>