<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
  <title>la-note-enchantee</title>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <%- include('../components/header/header.html', {
    "back" : true
  }); %>
  <img src="note.jpg" alt="la note echantée">
  <main class="menu">
    <section class="entete">
      <h1 class="nom">La note enchantée</h1>
      <i class="far fa-heart"></i>
    </section>
    <section>
      <h2 class="menu">ENTRÉES</h2>

      <%- include('../components/plat/plat.html', {
            "nom" : "Ravioles de foie gras",
            "ingredients" : "Accompagnés de leur crème à la truffe",
            "prix": "25€",
        }); %>

      <%- include('../components/plat/plat.html', {
          "nom" : "Caviar osciètre",
          "ingredients" : "Sur blini à la farine de blé noir",
          "prix": "35€",
      }); %>

      <%- include('../components/plat/plat.html', {
        "nom" : "Homard et espuma de potiron",
        "ingredients" : "Mariné aux zestes d'orange",
        "prix": "20€",
    }); %>
    </section>
    <section>
      <h2 class="menu">PLATS</h2>

      <%- include('../components/plat/plat.html', {
        "nom" : "Noix de coquilles Saint-Jacques",
        "ingredients" : "Sur lit de purée de céleri-rave",
        "prix": "40€",
    }); %>

      <%- include('../components/plat/plat.html', {
        "nom" : "Langoustine poêlée",
        "ingredients" : "Purée de patate douce",
        "prix": "35€",
    }); %>

      <%- include('../components/plat/plat.html', {
      "nom" : "Mijoté de queue de boeuf",
      "ingredients" : "Et riz sauvage aux zestes de citron",
      "prix": "44€",
  }); %>

    </section>
    <section>
      <h2 class="menu">DESSERTS</h2>

      <%- include('../components/plat/plat.html', {
        "nom" : "Macaron noisette et chocolat",
        "ingredients" : "Glace au caramel brun et sel de Guérande",
        "prix": "18€",
    }); %>

      <%- include('../components/plat/plat.html', {
      "nom" : "Baba au rhum revisité",
      "ingredients" : "Avec son coulis de citron",
      "prix": "22€",
  }); %>

      <%- include('../components/plat/plat.html', {
    "nom" : "Tarte au citron meringuée",
    "ingredients" : "Déstructurée",
    "prix": "23€",
}); %>

      <button type="button" class="explo_btn"> Commander </button>
    </section>

  </main>

  <%- include('../components/footer/footer.html'); %>
</body>

</html>