footer {
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-rows: 35px 30px 30px 30px 30px;
  grid-template-areas: "logo logo"
    "ustensiles resto"
    "hands partner"
    "ml ml"
    "mail mail";
  background-color: #353535;
  color: white;
  padding: 1rem 1rem 3rem 1rem;
  align-items: center;


  .footer_logo {
    font-family: shrikhand, cursive;
    grid-area: logo;
    margin: 0;
  }

  .fa-utensils {
    grid-area: ustensiles;
  }

  .resto {
    grid-area: resto;
  }

  .fa-hands-helping {
    grid-area: hands;
  }

  .partner {
    grid-area: partner;
  }

  .ml {
    grid-area: ml;
  }

  .mail {
    grid-area: mail;
    color: white;
    text-decoration: none;

  }
}