footer {
  background-color: #353535;
  color: white;
  padding: 1em;

  /*border: none;*/
  .footer_logo {
    font-family: shrikhand, cursive;
  }

  .mail {
    color: white;
    text-decoration: none;
  }
}