$primaire : #ff79da;
$secondaire : #9356DC;


@mixin flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;

}

body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    margin: 0;
}

h1 {
    font-family: shrikhand, cursive;
}

h2.menu {
    font-weight: 200;
}