$primaire : #ff79da;
$secondaire : #9356DC;
$tertiaire :#99E2D0;
$quaternaire :#008766;


@mixin flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    margin: 0;
}

h1 {
    font-family: shrikhand, cursive;
}

.fa-heart:hover {
    transition: 1s ease-in-out;
    background: -webkit-linear-gradient(249deg, $secondaire 30%, $primaire 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: xx-large;
    font-weight: 800;
}